#cache
__pycache__/
#db_file
db_file.db
# directory with audio
/audiofiles
# copies of older-models
/older-models
# trained older-models
/output
# compiled tools
/tools
# venv
/venv
# audio_generation
/audio_generation/models
/audio_generation/out
# pycharm dir
.idea
