#cache
__pycache__/
#db_file
db_file.db
# directory with audio
/audiofiles
# copies of older-models
/older-models
# trained older-models
/output
# compiled tools
/tools
# venv
/venv
# pycharm dir
.idea



