# directory with audio
/audiofiles
#directories for testing app
/audio
/voice_models
# copies of models
/older-models
# compiled tools
/tools
# venv
/venv
# pycharm dir
.idea
/voice_models
#pycharm folders
.idea/
__pycache__/


